.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    font-family: Baskerville, serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }
  .ml5 .letter {
    display: inline-block;
    font-weight: 1000;
    opacity: 0;
  }


.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
  .img1
  {
  height: auto;
  max-width: 100%;
  }



/*---------------------------------
my sun dark mode button
flip card ref: https://3dtransforms.desandro.com/card-flip
----------------------------------*/
.scene {
    width: 30px;
    height: 30px;
    perspective: 600px;
    position: fixed;
    z-index: 99999;
    top: 50px;
    right: 5px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border: 1px solid rgb(150, 150, 150, .5);
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    backface-visibility: hidden;
}

.card__face--front {
    color: black !important;
    background: white;
}

.card__face--front:hover {
    color: white !important;
    background-color: black;
}

.card__face--back {
    color: white !important;
    background: black;
    transform: rotateY(180deg);
}

.card__face--back:hover {
    color: black !important;
    background-color: white;
}

.darkmodecolor {
    background-color: #2B2B2B !important;
    color: #C5C5C5 !important;
    box-shadow: none;
}


.wave-container {
  position: relative;
  background-color: #2A73FE;
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.wave {
  position: absolute;
  bottom: 60%;
  width: 200px;
  height: 100px;
}

.wave::before {
  content: "";
  background-color: #fff;
  opacity: 0.5;
  border-radius: 40%;
  position: absolute;
  left: -75%;
  bottom: 25%;
  width: 500px;
  height: 500px;
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}

.wave::after {
  content: "";
  background-color: #fff;
  opacity: 0.5;
  border-radius: 40%;
  position: absolute;
  left: -75%;
  bottom: 25%;
  width: 500px;
  height: 500px;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.footer {
  margin-right: 5%;
}

.footer1 {
  margin-right: 1%;
}